.sign_up {
  position: relative;
  width: 914px;
}

.sign_up--now {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: .9643;
  position: absolute;
  top: 40px;
  left: -30px;
}

.sign_up--incitement {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.2;
  position: absolute;
  top: 44px;
  left: 195px;
}

.sign_up--form {
  font-size: 1rem;
  position: absolute;
  top: 130px;
  left: 5px;
  width: 884px;
}
