@import '../../constants.css';

.banner {
  position: relative;
}

.banner--img {
  width: 100%;
  height: 100%;
}

.banner--time {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.0357;
  position: absolute;
  top: 130px;
  left: 120px;
  color: var(--color-white);
}

.banner--extra {
  font-size: .9375em;
  position: absolute;
  top: 194px;
  left: 130px;
  color: var(--color-amaranth-pink);
}

.banner--heading {
  font-size: 2.375em;
  font-weight: 700;
  line-height: .8947;
  position: absolute;
  top: 238px;
  left: 378px;
  color: var(--color-white);
}
