@import '../../constants.css';

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border: .5774em solid transparent;
  border-top-width: 1em;
}

.triangle-blur {
  filter: blur(5px);
}

.triangle-color-black {
  border-top-color: var(--color-black);
}

.triangle-color-blue {
  border-top-color: var(--color-blue);
}

.triangle-color-pink {
  border-top-color: var(--color-pink);
}

.triangle-color-purple {
  border-top-color: var(--color-purple);
}

.triangle-color-smoke {
  border-top-color: var(--color-smoke);
}

.triangle-color-turquoise {
  border-top-color: var(--color-turquoise);
}

.triangle-color-yellow {
  border-top-color: var(--color-yellow);
}

/* All triangles are described here so far. */
.triangle-12 {
  font-size: 15.25rem;
  top: 0;
  left: 0;
}

.triangle-13 {
  font-size: 12rem;
  position: absolute;
  top: -30px;
  left: -120px;
  z-index: -1;
}

.triangle-14 {
  font-size: 18.875rem;
}

.triangle-21 {
  font-size: 2.5rem;
  top: 110px;
  left: 838px;
}

.triangle-22 {
  font-size: 2.5rem;
  top: 190px;
  left: 190px;
}

.triangle-23 {
  font-size: 5.75rem;
  top: 300px;
  left: 130px;
}

.triangle-24 {
  font-size: 2.5rem;
  z-index: 500;
  top: 560px;
  left: 1080px;
}

.triangle-25 {
  font-size: 5.75rem;
  z-index: 500;
  top: 610px;
  left: 910px;
}

.triangle-26 {
  font-size: 2.5rem;
  top: 745px;
  left: 45px;
}

.triangle-28 {
  font-size: 8.25rem;
  z-index: 500;
  top: 1360px;
  left: 890px;
}

.triangle-29 {
  font-size: 2.5rem;
  top: 2250px;
  left: 130px;
}

.triangle-30 {
  font-size: 4.5rem;
  top: 2550px;
  left: 1000px;
}

.triangle-31 {
  font-size: 2.5rem;
  top: 2700px;
  left: 580px;
}

.triangle-32 {
  font-size: 2.5rem;
  top: 3000px;
  left: 127px;
}

.triangle-33 {
  font-size: 2.5rem;
  top: 3000px;
  left: 430px;
}

.triangle-40 {
  font-size: 6.875rem;
  z-index: -1;
  top: 1550px;
  left: 712px;
}

.triangle-41 {
  font-size: 2.5rem;
  top: 1600px;
  left: 80px;
}

.triangle-42 {
  font-size: 4.5rem;
  top: 1720px;
  left: 360px;
}

.triangle-43 {
  font-size: 6.875rem;
  top: 1690px;
  left: 850px;
}

.triangle-44 {
  font-size: 23.25rem;
  z-index: 10;
  top: 40px;
  left: 256px;
}

.triangle-53 {
  font-size: 6.875rem;
  top: 3140px;
  left: 890px;
}

.triangle-54 {
  font-size: 2.5rem;
  z-index: 10;
  top: 3180px;
  left: 220px;
}

.triangle-69 {
  font-size: 18.875rem;
  z-index: -1;
  top: 0;
  left: 0;
}
