body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI","Open Sans", Arial, sans-serif;
    color: #2c343b;
}

.clear {
    clear: both;
}

.center{
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.just{
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
    line-height: 34px;
}

.bold{
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
}

a {
    color: #115479;
    margin: 30px;
    width: 100%;
}

a:hover{
    color: #ff8706;
}

.col{
    margin 0 30px;
    padding: 40px 30px 20px 30px;
    text-align: center;
    width: 320px;
    font-size: 20px;
}

.left{
    font-size: 20px;
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
    line-height: 30px;
}

.hat {
    background-color: #6ecff6;
    background-image: url(img/hat-bg.jpg); 
    background-repeat: repeat-x;
    height: 523px;
}

#logo {
    padding: 45px 0 20px 0;
    margin: 100 auto;
    text-align: center;
}

.header-1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
}

.header-2 {
    font-size: 26px;
    padding-top: 10px;
    color: #2c343b;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.quote{
    font-size: 22px;
    max-width: 960px;
    margin: 60px auto;
    text-align: center;
    background-image: url(img/fig.png);
    background-repeat: no-repeat;
    height: 140px;
}

.quote-text{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 22px;
}

h1{
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    text-align: left;
    margin: 30px 30px 10px 30px;
}

hr{
    margin: 0 auto;
    border: none;
    height: 1px;
    background-color: #769aa0;
    max-width: 1300px;
    padding: 0;
    margin-top: -25px;
}

button {
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
    height: 70px;
    width: 390px;
    font-size: 22px;
    color: #fff;
    background-color: #ff8706;
    border: 0;
    border-radius: 3px;
    outline: none;
    margin-bottom: 60px;
}

button:hover {
    height: 70px;
    width: 390px;
    font-size: 22px;
    color: #fff;
    background-color: #ff720b;
    border: 0;
    border-radius: 3px;
    outline: none;
}

button:active {
    border-radius: 3px;
    background-color: #ff720b;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    width: 390px;
    height: 70px;
    z-index: 15;
    outline: none;
}

.map {
    width: 960px;
    height: 600px;
    background-image: url(img/map.png);
    background-size: cover;
    align-content: center;
    margin: 30px auto 15px auto;
}

p {margin: 0;
    padding: 5px 10px;
    font-size: 18px;
}

.why{
    background-color: #f0edda;
    margin: 30px auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.image {
    margin: 60px auto 0 auto;
}

.video{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.ask{
    background-color: #2c343b;
    color: #b7d4d8;
}
.ask h1{
    color: #b7d4d8;
    padding-top: 30px;
}
.modal_bg {
    display: none;
    background-color: rgba(37, 43, 49, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.modal_form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 600px;
    height: 595px;
    margin-left: -300px;
    margin-top: -315px;
    border-radius: 3px;
}

.subtext {
    margin: -10px 30px 00px 30px;
}

.form_name {
    margin-left: -10px;
}

.form {
    margin-left: 30px;
    margin-top: 20px;
}

.string {
    width: 480px;
    height: 40px;
    border: 2px solid #179dab;
    border-radius: 3px;
    padding: 0 15px 0 15px;
    font-size: 20px;
    color: #2c343b;
}

textarea {
    width: 480px;
    height: 100px;
    border: 2px solid #179dab;
    border-radius: 3px;
    padding: 10px 15px 0 15px;
    font-size: 20px;
    color: #2c343b;
}

.send {
    background-color: #f0edda;
    margin-top: 30px;
    border-radius: 3px;
}

.ok {
    width: 200px;
    height: 50px;
    margin: 30px 30px;
}

.ok:hover,
.ok:focus,
.ok:active {
    width: 200px;
    height: 50px;
    margin: 30px 30px;
}
.modal_message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 600px;
    height: 230px;
    margin-left: -300px;
    margin-top: -315px;
    border-radius: 3px;
}

.free {
    margin: 0 auto;
}

.cntr {
    display: flex;
}

ul {
    list-style-type: none;
    font-size: 20px;
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
    line-height: 32px;
    padding-left: 0;
}

.bottom_link {
    font-size: 22px;
    color: #b7d4d8;
    margin-left: 0;
    margin-right: 0;
}
.cross {
    position: absolute;
    right: 30px;
    top: 10px;
    display: block;
    width: 20px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}