@import '../../constants.css';

.header {
  height: 376px;
}

.header--logo {
  position: relative;
  z-index: 40;
  margin-left: 314px;
}

.header--heading {
  font-size: 1.125em;
  line-height: 1.1667;
  position: absolute;
  z-index: 20;
  top: 74px;
  left: 446px;
  width: 348px;
  height: 304px;
  padding: 1.4444em 4.4444em;
  color: var(--color-white);
}

.header--creeping_line {
  position: absolute;
  z-index: 30;
  top: 225px;
  left: 622px;
}

.header--incitement {
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.2;
  position: absolute;
  top: 142px;
  left: 790px;
}
