.version.index /* version checker */
{
	color: #00000F;
	background-color: #08D777;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 2238px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u95
{
	z-index: 2;
	min-height: 2327px;
	background: transparent url("../images/01.jpg") repeat-x center top;
}

#u95_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	padding-top: 211px;
	padding-bottom: 246px;
}

#u109-4
{
	z-index: 3;
	width: 950px;
	min-height: 57px;
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 83px;
	position: relative;
}

#u119-6
{
	z-index: 25;
	width: 803px;
	min-height: 72px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 158px;
	margin-top: 18px;
	position: relative;
}

#u119-3
{
	line-height: 29px;
}

#u119-2
{
	text-decoration: underline;
	color: #F47F35;
}

#u119-4
{
	line-height: 22px;
}

#u120-6
{
	z-index: 7;
	width: 950px;
	min-height: 57px;
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 130px;
	margin-top: 133px;
	position: relative;
}

#u121-5
{
	z-index: 31;
	width: 720px;
	min-height: 72px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 286px;
	margin-top: 45px;
	position: relative;
}

#u123-5
{
	z-index: 36;
	width: 720px;
	min-height: 72px;
	background-color: transparent;
	line-height: 32px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 286px;
	margin-top: 35px;
	position: relative;
}

#u124-5
{
	z-index: 41;
	width: 720px;
	min-height: 72px;
	background-color: transparent;
	line-height: 32px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 286px;
	margin-top: 72px;
	position: relative;
}

#u125-7
{
	z-index: 46;
	width: 720px;
	min-height: 72px;
	background-color: transparent;
	line-height: 32px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 286px;
	margin-top: 42px;
	position: relative;
}

#u121,#u123,#u124,#u125
{
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u139-4
{
	z-index: 13;
	width: 950px;
	min-height: 57px;
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 126px;
	margin-top: 102px;
	position: relative;
}

#u140-4
{
	z-index: 53;
	width: 720px;
	min-height: 72px;
	background-color: transparent;
	line-height: 32px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 241px;
	margin-top: 4px;
	position: relative;
}

#pu141-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 19px;
	position: relative;
}

#u141-4
{
	z-index: 17;
	width: 437px;
	min-height: 57px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u142-4
{
	z-index: 21;
	width: 437px;
	min-height: 57px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#pu145-4
{
	width: 0.01px;
	left: 181px;
	margin-top: 343px;
	position: relative;
}

#u145-4
{
	z-index: 63;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u177-4
{
	z-index: 67;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u148-4
{
	z-index: 71;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u175-4
{
	z-index: 75;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u152-4
{
	z-index: 79;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u173-4
{
	z-index: 83;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#pu148-4,#pu152-4,#pu159-4
{
	width: 0.01px;
	left: 181px;
	margin-top: 32px;
	position: relative;
}

#u159-4
{
	z-index: 87;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u171-4
{
	z-index: 91;
	width: 288px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#pu161-4
{
	width: 0.01px;
	left: 181px;
	margin-top: 9px;
	position: relative;
}

#u161-4
{
	z-index: 95;
	width: 309px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u170-4
{
	z-index: 119;
	width: 309px;
	min-height: 27px;
	background-color: transparent;
	line-height: 27px;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#pu178-4
{
	width: 0.01px;
	left: 170px;
	margin-top: 47px;
	position: relative;
}

#u178-4
{
	z-index: 99;
	width: 214px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 23px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u180-4
{
	z-index: 107;
	width: 148px;
	min-height: 27px;
	background-color: transparent;
	color: #A3A3A3;
	line-height: 27px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 228px;
}

#u184-4
{
	z-index: 103;
	width: 214px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 23px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u183-4
{
	z-index: 115;
	width: 150px;
	min-height: 27px;
	background-color: transparent;
	color: #A3A3A3;
	line-height: 27px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 727px;
}

#u180,#u183
{
	text-decoration: underline;
}

#u95-bw
{
	z-index: 2;
	min-height: 2327px;
}

#u143-6
{
	z-index: 57;
	width: 288px;
	min-height: 73px;
	background-color: transparent;
	line-height: 26px;
	font-size: 17px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1414px;
	left: 96px;
}

#u185-4
{
	z-index: 111;
	width: 919px;
	min-height: 100px;
	background-color: transparent;
	color: #A3A3A3;
	line-height: 21px;
	font-size: 14px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2303px;
	left: 24px;
}

#u146-4
{
	z-index: 123;
	width: 360px;
	min-height: 27px;
	background-color: transparent;
	line-height: 23px;
	font-size: 15px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1786px;
	left: 81px;
}

#u176-4
{
	z-index: 127;
	width: 360px;
	min-height: 27px;
	background-color: transparent;
	line-height: 23px;
	font-size: 15px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1786px;
	left: 583px;
}

#u147-4
{
	z-index: 131;
	width: 360px;
	min-height: 27px;
	background-color: transparent;
	line-height: 23px;
	font-size: 15px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1845px;
	left: 81px;
}

#u174-4
{
	z-index: 135;
	width: 360px;
	min-height: 27px;
	background-color: transparent;
	line-height: 23px;
	font-size: 15px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1845px;
	left: 583px;
}

#u151-4
{
	z-index: 139;
	width: 360px;
	min-height: 27px;
	background-color: transparent;
	line-height: 23px;
	font-size: 15px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
	left: 81px;
}

#u172-4
{
	z-index: 143;
	width: 360px;
	min-height: 27px;
	background-color: transparent;
	line-height: 23px;
	font-size: 15px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
	left: 583px;
}

#u144-4
{
	z-index: 147;
	width: 288px;
	min-height: 73px;
	background-color: transparent;
	line-height: 26px;
	font-size: 17px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1417px;
	left: 599px;
}

#u222
{
	z-index: 151;
	width: 220px;
	height: 58px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2037px;
	left: 568px;
}

.ie #u222
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u222:hover
{
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 220px;
	height: 58px;
	min-height: 0px;
	margin: 2037px -10000px 0px 0px;
}

.ie #u222:hover
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u222:active
{
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 220px;
	height: 58px;
	min-height: 0px;
	margin: 2037px -10000px 0px 0px;
}

#u225
{
	z-index: 152;
	width: 220px;
	height: 58px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2037px;
	left: 67px;
}

.ie #u225
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u225:hover
{
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 220px;
	height: 58px;
	min-height: 0px;
	margin: 2037px -10000px 0px 0px;
}

.ie #u225:hover
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u225:active
{
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 220px;
	height: 58px;
	min-height: 0px;
	margin: 2037px -10000px 0px 0px;
}

#u228
{
	z-index: 153;
	width: 145px;
	height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2052px;
	left: 300px;
}

.ie #u228
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u228:hover
{
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 145px;
	height: 27px;
	min-height: 0px;
	margin: 2052px -10000px 0px 0px;
}

.ie #u228:hover
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u228:active
{
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 145px;
	height: 27px;
	min-height: 0px;
	margin: 2052px -10000px 0px 0px;
}

#u230
{
	z-index: 154;
	width: 145px;
	height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2052px;
	left: 796px;
}

.ie #u230
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u230:hover
{
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 145px;
	height: 27px;
	min-height: 0px;
	margin: 2052px -10000px 0px 0px;
}

.ie #u230:hover
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u230:active
{
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 145px;
	height: 27px;
	min-height: 0px;
	margin: 2052px -10000px 0px 0px;
}

#u231
{
	z-index: 155;
	width: 120px;
	height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 621px;
}

.ie #u231
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u231:hover
{
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 120px;
	height: 18px;
	min-height: 0px;
	margin: 323px -10000px 0px 0px;
}

.ie #u231:hover
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u231:active
{
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 120px;
	height: 18px;
	min-height: 0px;
	margin: 323px -10000px 0px 0px;
}

.ie #u222:active,.ie #u225:active,.ie #u228:active,.ie #u230:active,.ie #u231:active
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#pamphletu252
{
	z-index: 156;
	width: 0.01px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 621px;
}

#u259
{
	z-index: 157;
	width: 118px;
	position: relative;
	margin-right: -10000px;
}

#u261
{
	position: absolute;
	width: 118px;
	height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u261:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 118px;
	height: 18px;
	min-height: 0px;
	margin: 0px;
}

#u261:active
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 118px;
	height: 18px;
	min-height: 0px;
	margin: 0px;
}

#u263
{
	position: absolute;
	width: 979px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	padding-bottom: 44px;
	top: -124px;
	left: -602px;
	-pie-background: rgba(0,0,0,0.9);
}

#u263popup
{
	z-index: 159;
}

#u268
{
	z-index: 160;
	width: 935px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu297-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 44px;
}

#u297-4
{
	z-index: 161;
	width: 720px;
	min-height: 72px;
	background-color: transparent;
	line-height: 43px;
	font-size: 24px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u298-29
{
	z-index: 165;
	width: 835px;
	min-height: 72px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u298-5,#u298-8,#u298-11,#u298-14,#u298-17
{
	color: #F68635;
}

#u298-22
{
	line-height: 19px;
}

#u298-2,#u298-4,#u298-7,#u298-10,#u298-13,#u298-16,#u298-21,#u298-24,#u298-26,#u298-27
{
	line-height: 31px;
}

#u299
{
	z-index: 194;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 886px;
}

#u253
{
	position: absolute;
	width: 49px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: -102px;
	left: 305px;
}

#u253:hover
{
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 49px;
	height: 47px;
	min-height: 0px;
	margin: 0px;
}

#u253:active
{
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 49px;
	height: 47px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 1000px;
}

